---
import MainHome from "../components/sections-page/MainHome.astro";
import Spotlight from "../components/Spotlight.astro";
import SpotlightMain from "../components/Spotlight_Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." Description="">
  <main>
    <section>
      <section
        class="-z-20 bg-gradient-to-b from-[#10120998] to-transparent w-full h-[360px] fixed"
      >
        <Spotlight />
        <SpotilightMain />
      </section>
      <MainHome />
    </section>
  </main>
</Layout>
